<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.asynctask">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name="servicesExample.activities.MainServiceActivity"
            android:label="@string/title_activity_main_service"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name="servicesExample.services.MyServiceFirst" />

        <activity android:name="intentService.activity.MainIntentServicesActivity"></activity>

        <service android:name="intentService.services1.MyIntentService" />

        <activity
            android:name="sharedpreferences.activity.MainSharePrefencesActivity"
            android:label="@string/title_activity_main_share_prefences"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sharedpreferences.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="sharedpreferences.activity.LoginSuccessFull"
            android:label="@string/title_activity_login_success_full"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>